@use "_variables.scss" as *;

.activeResult { 
    position:relative;
    z-index:20;
    margin-bottom: 1.5rem;
    max-width:100%;
}

.activeBackronym {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width:fit-content;
    overflow-x:visible;
    margin-right:2rem;
    li {
        width:100%;
        text-transform: uppercase;
        font-size: 1.5rem;
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        max-width:100%;
        transition: 0.3s ease-in-out;
        text-align:right;
        &:hover,
        &:focus {
            &>.lock{
                visibility:visible;
            }
        }
        &:not(:hover){
            opacity:0.8;
        }
        &:nth-of-type(even){
            transform: rotateY(180deg);
            align-self: flex-start;
            flex-direction: row-reverse;

        }
    }
    p{
        margin:0;
        padding:0;
        font-size: 2.5rem;
        text-align:right;
        &::first-letter {
            color: $bold;
        }
    }
 
}

.lock {
    visibility:hidden;
    opacity:0.7;
    font-size:0.75rem;
    margin: 0 1rem;
    color:rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.lock.locked {
   visibility: visible;
}

