@use './variables' as *;

html {
    overflow-x: hidden;
}

body {
    min-height:100vh;
    overflow-x: hidden;
    overflow-y:scroll;
    -moz-osx-font-smoothing: grayscale;
    background-color: $darkBackground;
    line-height:1;
    font-family: $body-font;
    font-weight:100;
    color:$darkBodyText;
    
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
    height: 4910px;
    overflow: visible;
    position: static;
    
}


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    object-fit: cover;
    width: 100%;
}
svg{
    position:relative;
    z-index:30;
    g{
        position:relative;
        z-index:30;
        path{
            position:relative;
            z-index:30;
            color:$darkBodyText;
        }

    }

}

button {
    -moz-appearance:none;
    -webkit-appearance: none;
    font-family:$body-font;
    font-weight: 400;
    font-size:0.8rem;
    background-color: transparent;
    border:none;
    color:$darkBodyText;
    margin:1rem;
    position:relative;
    z-index:30;
    .fa-heart {
        width: 100%;
        height: 100%;
    }
}
a{
    text-decoration:none;
    &:active{
        text-decoration: none;
        color:$darkBodyText;
    }
    &:visited{
        text-decoration:none;
        color:$darkBodyText;
    }
}

