@use "_variables.scss" as *;

html {
    background-color: $darkBackground;
    font-family: $body-font;
    color: $darkBodyText;
    font-size: 62.5%;
}

h2,
h3 {
    font-family: $header-font;
    font-size: 5rem;
}

h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
}