@use "_variables.scss" as *;

html {
    font-family: $body-font;
    color: $darkBodyText;
    font-size: 62.5%;
}

h2 {
   
    font-family: $header-font;
}

h3 {
    font-family: $header-font;
    
}

.addHeader {
    
}

li.savedBackronym p {
    font-family: $header-font;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin: 15px 7px;
    &::first-letter {
       
    }
}

footer {
    padding-bottom: 25px;
    transition: 0.3s;
    p {
        font-family: $header-font;
        letter-spacing: 0.5rem;
        font-size: 1.5rem;
        text-align: right;
    }
    a {
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        &:hover,
        &:focus { text-decoration: underline; }
    }
}

