@use './variables' as *;

header {
    form {
        
    }
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .inputContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        input {
            width: 47%;
            margin: 0;
        }
    }
    button.start {
       
    }
}