@use './variables' as *;

section.savedBackronyms{
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    min-height:200px;
    max-height:400px;
}

.savedBackronymList{
    display:flex;
    flex-direction: column;
    width:100%;
    margin: 15px 0;
    cursor:pointer;
    overflow-y: scroll;
    transition: 0.2s;
}

.savedBackronym {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
    .buttonContainer {
        opacity: 0;
        transition: 0.2s;
        button {
            margin: 10px;
            border: none;
            background: none;
            box-shadow: none;
            cursor:pointer;
        }
    }
    &:hover .buttonContainer,
    &:focus .buttonContainer {
        opacity: 1;
    }
}
