@use './variables' as *;

section.savedBackronyms{
    
    
}

.savedBackronymList{
    display:flex;
    flex-direction: column;
    width:100%;
    margin: 15px 0;
    cursor:pointer;
    overflow-y: scroll;
    transition: 0.3s;
}

.savedBackronym {
    
    cursor:pointer;
    .buttonContainer {
        opacity: 0;
        transition: 0.3s;
        button {
            margin: 10px;
            cursor:pointer;
        }
    }
    &:hover .buttonContainer,
    &:focus .buttonContainer {
        opacity: 1;
    }
}
