@use './variables' as *;

.addHeader{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    opacity: 0.3;
}
.savedBackronyms{
    border: 1px solid $darkRed;
    padding: 20px;
    background-color: $black;
    padding:2rem;
    margin:5rem 0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-height:400px;
    min-height:200px;
    overflow-y: scroll;
}

.delete,
.edit{
    display:none;
    background-color: rgba(0, 0, 0, 0);
    opacity:0.7;
    background-image: none;
    border:none;
    box-shadow: none;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: $black;
        background-image: none;
        border:none;
        box-shadow: none;
    }
}
.clear{
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0);
    opacity:0.5;
    background-image: none;
    border:none;
    box-shadow: none;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: none;
    padding:1rem 2rem;
    border-radius: 15px;
    font-size: 1.5rem;
    &:hover,
    &:focus {
        background-color: $black;
        background-image: none;
        border: 0.5px solid $darkRed;
        box-shadow: none;
    }
}
.savedBackronym{
    width:100%;
    margin:2rem 0;
    padding:0 1rem;
    font-size: 1rem;
    cursor:pointer;
    display:flex;
    justify-content: space-between;
    &:hover>.delete, 
    &:focus>.delete,
    &:hover>.edit,
    &:focus>.edit{
        display:inline-block;
    }
    p{
        text-transform: capitalize;
        font-size:1.5rem;
        flex-basis:85%;
        &::first-letter{
            color:$darkRed;
        }
        span{
            color:$darkRed;
        } 
    }
    button{
        flex-basis:5%;
    }
    
}

