@use './variables' as *; 

.userSettings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
    position: relative;
    z-index: 20;
    cursor:pointer;
}
.signIn{
    color:$bold;
    cursor:pointer;
}
input[type ='checkbox']{
    -webkit-appearance: none;
    -moz-appearance: none;
    width:100%;
    height:100%;
    border-radius: 50%;
    visibility: none;
    position:absolute;
    top:0;
    left:0;
    z-index: 20;
    cursor: pointer;
}

.toggle{
    position:relative;
    background-color: $darkBackground;
    // color:$darkBodyText;
    display:flex;
    width:2rem;
    height:2rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    &:hover,
    &:focus { 
        
    }
    .toggleIcon{ 
        font-size:1rem; 
    }
}


