//colors
$black: rgba(0, 0, 0, 1.00);
$white: rgb(247, 247, 247);

//light theme
$lightBackground: rgb(247, 247, 247);
$lightBgTextColor:rgb(0, 0, 0);

//dark theme
$darkBackground: rgb(0, 0, 0);
$darkBodyText: rgb(247,247, 247);

//fonts
$header-font: sans-serif;
$body-font: sans-serif;

