//colors
$black: rgba(0, 0, 0, 1.00);
$white: rgb(247, 247, 247);
$bold:#e4001c;

//light theme
$lightBackground: #e3e3e3;
$lightBgTextColor:#353535;
$secondaryLightText: #4a4a4a;

//dark theme
$darkBackground: #1f1f26;
$darkBodyText: #e3e3e3;

//fonts
$header-font: 'DM Serif Text',
serif;
$body-font: 'Lato',
sans-serif;

